body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.hero-wrapper {
    background-color: #1f2937;
    color: white;
}

.header {
    display:flex;
    justify-content: space-around;
    padding: 8px;
    font-size: 18px;
}

.pom-logo {
    height: 70px;
    width: auto;
}
.header-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
    
}

.top-hero {
    display: flex;
    margin: 100px;
   
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    
}

.card {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
    margin-left: -10px;
}
.sign-up, .sign-up2 {
    background-color: #3882F6;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 900;
    border-radius: 5px;
   
}

.middle-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle-hero-title {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937 

}
.middle-hero-types {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 42px; 
}

.middle-text {
    font-size: 18px;
    font-weight: 200;

}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.customer {
    display: flex;
    font-weight: bold;
    font-size: 28px;
    justify-content: flex-end;
}

.call-to-action {
    background-color: #3882F6;
    width: 800px;
    height: 50px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 70px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    border-radius: 30px;
}

.newsfeed {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nf-header {
    color:#e5e7eb;
    font-weight: bold;
    font-size: 25px;
}

.nf-text {
    color: #e5e7eb;
    font-weight: 200;
}





